.exercise-card {
  width: 400px;
  height: 445px;
  background: #fff;
  border-top: 4px solid #FF2625;
  border-bottom-left-radius: 20px;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  transform: scale(1, 1);
  transition: 0.3s all ease-in-out;
}

.exercise-card img {
  height: 326px;
}

.exercise-card:hover {
  transform: scale(1.1, 1.1);
}

.exercise-card-name {
  margin-left: 21px;
  color: #000;
  font-size: 20px;
  font-weight: bold;
  margin-top: 11px;
  padding-bottom: 10px;
  text-transform: capitalize;
}

.tag {
  margin-left: 21px;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  text-transform: capitalize;
}