/* style={{ width: '48px', height: '48px', margin: '0 20px'}} */
.logo {
  width: 48px;
  height: 48px;
  margin: 0 20px;
}

.homeLink {
  text-decoration: none;
  color: #3A1212;
  border-bottom: 3px solid #FF2625
}

/* style={{ textDecoration: 'none', color: '#3A1212'} */
.exerciseLink {
  text-decoration: none;
  color: #3A1212;
}